USE [master]
GO
/****** Object:  Database [QLDIEM]    Script Date: 09/12/2020 09:53:54 ******/
CREATE DATABASE [QLDIEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDIEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLDIEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDIEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLDIEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDIEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDIEM]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 09/12/2020 09:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[sbd] [int] NULL,
	[ten] [nvarchar](50) NULL,
	[gender] [nvarchar](50) NULL,
	[chonTh] [nvarchar](50) NULL,
	[toan] [float] NULL,
	[van] [float] NULL,
	[anh] [float] NULL,
	[tohop] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 09/12/2020 09:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[stt] [int] NULL,
	[Gender] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tohop]    Script Date: 09/12/2020 09:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tohop](
	[stt] [int] NULL,
	[Tohop] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
